body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 10);
    background-image: url(/noise-light.png);
    font-family:'Courier','monospace';
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.device {
    background-color: #333;
    border-radius: 10%;
    box-shadow: 0 0 8px 8px #5a5a5a ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
}

.screen {
    background-color: #424242;
    border-radius: 25px;
    box-shadow: 0 0 8px 8px rgb(0, 0, 10) inset;
    color: white;
    width: 310px;
    height: 230px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.time {
    font-size: 2em;
    margin-top: 40px;
}

  .name {
      margin-left: 12.5rem;
      margin-right: auto;
      margin-top:1px;
      font-size: 20px;
      font-weight: bold;
}
  .all-boxs{
    display: flex;
    flex-direction: row;
    margin-left: 14.5rem;
    margin-right: auto;
    font-weight: bold;
}

.box {
    background-color: #fff;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    margin-top: 60px;
    margin-bottom: 3px;
  }
  .box1 {
    background-color: darkorange;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    margin-top: 68px;
    margin-bottom: auto;
  }
  .box2 {
    background-color: #fff;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    margin-top: 60px;
    margin-bottom: 3px;
  }
  .box3 {
    background-color: #fff;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    margin-top: 68px;
    margin-bottom: auto;
  }
  .box4 {
    background-color: #fff;
    border-radius: 1px;
    width: 8px;
    height: 8px;
    margin-top: 60px;
    margin-bottom: 3px;
  }
span{
    margin-right: 0.5px;
    font-size: 2.5rem;
    font-weight: bold;
}
span#milliseconds{
    margin-left: 1px;
    font-size: 22px;
    font-weight: bold;
}
.column {
    display: flex;
    flex-direction: column;
}
.order {
    border:3px solid rgb(43, 43, 43);
    box-shadow: 0 0 8px 8px rgb(72, 72, 72) inset;
    border-radius:37px;
    width:160px;
    height:70px;
    margin-left: 18px;
    margin-right: 4px;
    padding: 1px;
    display: flex;
    flex-direction: row;
}
.reorder {
    border:3px solid rgb(43, 43, 43);
    box-shadow: 0 0 8px 8px rgb(72, 72, 72) inset;
    border-radius:50%;
    width:70px;
    height:70px;
    margin-left: 4px;
    
   
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom:15px;
    margin-top: 5px;
}

#start {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px rgb(123, 122, 122) inset;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
#start:hover {
    box-shadow: 0 0 6px 6px rgb(123, 122, 122) ; 
}
#start:active {
    background-color: #555;
}
#stop {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px rgb(123, 122, 122) inset;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
#stop:hover {
    box-shadow: 0 0 6px 6px rgb(123, 122, 122)  ; 
}
#stop:active {
    background-color: #555;
}
#reset {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px rgb(123, 122, 122) inset;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 10px;
    margin-left:5px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
#reset:hover {
    box-shadow: 0 0 6px 6px rgb(123, 122, 122) ; 
}

#reset:active {
    background-color: #555;
}
.footer .foot{
    margin-top: 3px;
    margin-bottom: 0;
}
.footer{
    text-align: center;
    color: #e0d7d7;
}
.footer i{
    margin: 0.5rem;
}
.footer .social{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social i{
    font-size: 24px;
    color: #e0d7d7;
}
